<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<logger>
			<understandio>
				<active>0</active>
				<log_level/>
			</understandio>

            <chromephphandler>
            	<active>0</active>
				<log_level>100</log_level>
            </chromephphandler>
		</logger>
	</default>
</config>